<!--login
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <div class="modal-dialog" role="document">
   <div class="modal-content rounded-4 shadow">
     <div class="d-flex p-5 pb-4 border-bottom-0">
       <h2 class="position-relative ps-4 fs-2 ms-auto me-auto">
         spazio personale
       </h2>
       <button type="button" class="position-right btn-close" data-bs-dismiss="modal"
         aria-label="Close" id="close-modal-access"></button>
     </div>
     <div class="modal-body p-5 pt-0">
       <form class="">
         <div class="form-floating mb-3">
           <input type="email" class="form-control rounded-3" id="floatingInput"
             placeholder="email@esempio.com" />
           <label for="floatingInput">indirizzo email</label>
         </div>
         <div class="form-floating mb-3">
           <input type="password" class="form-control rounded-3" id="floatingPassword"
             placeholder="Password" />
           <label for="floatingPassword">Password</label>
         </div>
        <button (click)="accedi()" class="w-100 mb-2 btn btn-lg rounded-3 btn-dark" id="close-modal-access" type="button">
             accedi
           </button>
         <small class="text-body-secondary">clicando su 'accedi', accetti i nostri termini di
           servizio.</small>
         <hr class="my-4" />
         <div class="container d-flex justify-content-center">
           <p>se non hai un account</p>
         </div>
         <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit">
           registrati ora
         </button>
       </form>
     </div>
   </div>
 </div>
</div>-->

<app-login></app-login>
<app-sign-up></app-sign-up>
