<div class="content">
  <div><svg style="
    margin:-20px -255px -200px -255px"
    viewBox="0 0 960 300">
    <symbol id="s-text">
      <text text-anchor="middle" x="50%" y="50%">404</text>
    </symbol>

    <g class="g-ants">
      <use xlink:href="#s-text" class="text"></use>
      <use xlink:href="#s-text" class="text"></use>
      <use xlink:href="#s-text" class="text"></use>
      <use xlink:href="#s-text" class="text"></use>
      <use xlink:href="#s-text" class="text"></use>
    </g>
  </svg>
</div>
  <h1 class="display-5 mt-5">Pagina non trovata</h1>
  <button routerLink="/dashboard" class="btn btn-outline-dark">torna alla home</button>

</div>

