 <!--HERO AREA VIDEO CAROUSEL-->

 <div id="hero-carousel" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active c-item">
      <video class="d-block w-100 c-video2" autoplay loop muted>
        <source src="assets/videos/video1.mp4" type="video/mp4"/>
      </video>
      <div class="carousel-caption top-0 mt-5 pt-5">
        <p class="text-uppercase mt-5 pt-5 fs-5">-la tua seconda pelle-</p>
        <h1 class="display-7 fw-bolder text-capitalize mt-4">LA NUOVA COLLEZIONE</h1>
        <a href="./pagine/catalogo.html"><button class="btn btn-outline-light btn-hover px-4 py-2 fs-5 mt-4">SCOPRI
            ORA</button></a>
      </div>
    </div>
    <div class="carousel-item c-item">
      <video class="d-block w-100 c-video" autoplay loop muted>
        <source src="assets/videos/video2.mp4" type="video/mp4" />
      </video>
      <div class="carousel-caption top-0 mt-5 pt-5">
        <p class="mt-5 pt-5 fs-5 text-uppercase">-BILL BLASS-</p>
        <h1 class="display-7 fw-bolder text-capitalize mt-4">"LO STILE E'UNA QUESTIONE DI ISTINTO"</h1>
      </div>
    </div>
    <div class="carousel-item c-item">
      <video class="d-block w-100 c-video" autoplay loop muted>
        <source src="assets/videos/video3.mp4" type="video/mp4" />
      </video>
      <div class="carousel-caption top-0 mt-5 pt-5">
        <p class="mt-5 pt-5 fs-5 text-uppercase">OFFERTE IMPERDIBILI</p>
        <h1 class="display-7 fw-bolder text-capitalize mt-4">SCONTI ESTIVI</h1>
        <button class="btn btn-hover btn-outline-light px-4 py-2 fs-5 mt-4">CLICCA QUI</button>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--HERO AREA VIDEO CAROUSEL-->
