<!----------------------------------------------------------------->
<div class="container-fluid d-flex justify-content-center">
  <h3 class="display-7 m-0 text-capitalize">Prodotti in tendenza</h3>
</div>
<div id="carouselExample" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active bg-dark"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" class="bg-dark"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" class="bg-dark"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center justify-content-center product-item">
          <div class="product-car">
            <div class="product-image"> <a href="" class="image">
              <div class="thumbnail">
                <img class="picture1" src="/assets/images/1.png"><img class="picture2" src="/assets/images/2.png"> </div>
              </a> <a href="" class="cart">AGGIUNGI AL CARRELLO</a>
              <ul class="links align-items-center">
                <li><fa-icon [icon]="faExpandArrowsAlt"></fa-icon></li>
                <li class=""><a href=""><fa-icon class="text-danger" [icon]="faHeart"></fa-icon></a></li>
              </ul>
            </div>
            <div class="content"> <span class="category"><a href="">magliette</a></span>
              <h3 class="title display-7 fs-5"><a href="">T-shirt Niraya</a></h3>
              <div class="price"><span>Prezzo</span>24,90</div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center justify-content-center product-item">
          <div class="product-car">
            <div class="product-image"> <a href="" class="image">
                <div class="thumbnail"> <img class="picture1" src="/assets/images/9.jpg"><img class="picture2"
                    src="/assets/images/10.jpg"> </div>
              </a> <a href="" class="cart">AGGIUNGI AL CARRELLO</a>
              <ul class="links align-items-center">
                <li><fa-icon [icon]="faExpandArrowsAlt"></fa-icon></li>
                <li class=""><a href=""><fa-icon class="text-danger" [icon]="faHeart"></fa-icon></a></li>
              </ul>
            </div>
            <div class="content"> <span class="category"><a href="">magliette</a></span>
              <h3 class="title display-7 fs-5"><a href="">Zebras Shirt</a></h3>
              <div class="price"><span>Prezzo</span>24,90</div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center justify-content-center product-item">
          <div class="product-car">
            <div class="product-image"> <a href="" class="image">
                <div class="thumbnail"> <img class="picture1" src="/assets/images/3.png"><img class="picture2"
                    src="/assets/images/4.png"> </div>
              </a> <a href="" class="cart">AGGIUNGI AL CARRELLO</a>
              <ul class="links align-items-center">
                <li><fa-icon [icon]="faExpandArrowsAlt"></fa-icon></li>
                <li class=""><a href=""><fa-icon class="text-danger" [icon]="faHeart"></fa-icon></a></li>
              </ul>
            </div>
            <div class="content"> <span class="category"><a href="">Magliette</a></span>
              <h3 class="title display-7 fs-5"><a href="">Fear of Fire</a></h3>
              <div class="price"><span>Prezzo</span>24,90</div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center justify-content-center product-item">
          <div class="product-car">
            <div class="product-image"> <a href="" class="image">
                <div class="thumbnail"> <img class="picture1" src="/assets/images/7.jpg"><img class="picture2"
                    src="/assets/images/8.jpg"> </div>
              </a> <a href="" class="cart">AGGIUNGI AL CARRELLO</a>
              <ul class="links align-items-center">
                <li><fa-icon [icon]="faExpandArrowsAlt"></fa-icon></li>
                <li class=""><a href=""><fa-icon class="text-danger" [icon]="faHeart"></fa-icon></a></li>
              </ul>
            </div>
            <div class="content"> <span class="category"><a href="">pantaloni</a></span>
              <h3 class="title display-7 fs-5"><a href="">Zebras Pants</a></h3>
              <div class="price"><span>Prezzo</span>24,90</div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center justify-content-center product-item">
          <div class="product-car">
            <div class="product-image"> <a href="" class="image">
                <div class="thumbnail"> <img class="picture1" src="/assets/images/0.png"><img class="picture2"
                    src="/assets/images/00.png"> </div>
              </a> <a href="" class="cart">AGGIUNGI AL CARRELLO</a>
              <ul class="links align-items-center">
                <li><fa-icon [icon]="faExpandArrowsAlt"></fa-icon></li>
                <li class=""><a href=""><fa-icon class="text-danger" [icon]="faHeart"></fa-icon></a></li>
              </ul>
            </div>
            <div class="content"> <span class="category"><a href="">accessori</a></span>
              <h3 class="title display-7 fs-5"><a href="">cappello Niraya</a></h3>
              <div class="price"><span>Prezzo</span>10,90</div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center justify-content-center product-item">
          <div class="product-car">
            <div class="product-image"> <a href="" class="image">
                <div class="thumbnail"> <img class="picture1" src="/assets/images/15.jpg"><img class="picture2"
                    src="/assets/images/16.jpg"> </div>
              </a> <a href="" class="cart">AGGIUNGI AL CARRELLO</a>
              <ul class="links align-items-center">
                <li><fa-icon [icon]="faExpandArrowsAlt"></fa-icon></li>
                <li class=""><a href=""><fa-icon class="text-danger" [icon]="faHeart"></fa-icon></a></li>
              </ul>
            </div>
            <div class="content"> <span class="category"><a href="">Giacche</a></span>
              <h3 class="title display-7 fs-5"><a href="">Giacca Jeans</a></h3>
              <div class="price"><span>Prezzo</span>24,90</div>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center justify-content-center product-item">
          <div class="product-car">
            <div class="product-image"> <a href="" class="image">
                <div class="thumbnail"> <img class="picture1" src="/assets/images/17.jpg"><img class="picture2"
                    src="/assets/images/18.jpg"> </div>
              </a> <a href="" class="cart">AGGIUNGI AL CARRELLO</a>
              <ul class="links align-items-center">
                <li><fa-icon [icon]="faExpandArrowsAlt"></fa-icon></li>
                <li class=""><a href=""><fa-icon class="text-danger" [icon]="faHeart"></fa-icon></a></li>
              </ul>
            </div>
            <div class="content"> <span class="category"><a href="">vestiti</a></span>
              <h3 class="title display-7 fs-5"><a href="">Vestito Azure</a></h3>
              <div class="price"><span>Prezzo</span>24,90</div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center justify-content-center product-item">
          <div class="product-car">
            <div class="product-image"> <a href="" class="image">
                <div class="thumbnail"> <img class="picture1" src="/assets/images/19.jpg"><img class="picture2"
                    src="/assets/images/20.jpg"> </div>
              </a> <a href="" class="cart">AGGIUNGI AL CARRELLO</a>
              <ul class="links align-items-center">
                <li><fa-icon [icon]="faExpandArrowsAlt"></fa-icon></li>
                <li class=""><a href=""><fa-icon class="text-danger" [icon]="faHeart"></fa-icon></a></li>
              </ul>
            </div>
            <div class="content"> <span class="category"><a href="">giacche</a></span>
              <h3 class="title display-7 fs-5"><a href="">Giacca in pelle</a></h3>
              <div class="price"><span>Prezzo</span>24,90</div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center justify-content-center product-item">
          <div class="product-car">
            <div class="product-image"> <a href="" class="image">
                <div class="thumbnail"> <img class="picture1" src="/assets/images/23.jpg"><img class="picture2"
                    src="/assets/images/24.jpg"> </div>
              </a> <a href="" class="cart">AGGIUNGI AL CARRELLO</a>
              <ul class="links align-items-center">
                <li><fa-icon [icon]="faExpandArrowsAlt"></fa-icon></li>
                <li class=""><a href=""><fa-icon class="text-danger" [icon]="faHeart"></fa-icon></a></li>
              </ul>
            </div>
            <div class="content"> <span class="category"><a href="">Pantaloni</a></span>
              <h3 class="title display-7 fs-5"><a href="">Jeans Gray Rock</a></h3>
              <div class="price"><span>Prezzo</span>24,90</div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center justify-content-center product-item">
          <div class="product-car">
            <div class="product-image"> <a href="" class="image">
                <div class="thumbnail"> <img class="picture1" src="/assets/images/25.jpg"><img class="picture2"
                    src="/assets/images/26.jpg"> </div>
              </a> <a href="" class="cart">AGGIUNGI AL CARRELLO</a>
              <ul class="links align-items-center">
                <li><fa-icon [icon]="faExpandArrowsAlt"></fa-icon></li>
                <li class=""><a href=""><fa-icon class="text-danger" [icon]="faHeart"></fa-icon></a></li>
              </ul>
            </div>
            <div class="content"> <span class="category"><a href="">accessori</a></span>
              <h3 class="title display-7 fs-5"><a href="">Zaino Blu Niraya</a></h3>
              <div class="price"><span>Prezzo</span>24,90</div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center justify-content-center product-item">
          <div class="product-car">
            <div class="product-image"> <a href="" class="image">
                <div class="thumbnail"> <img class="picture1" src="/assets/images/29.jpg"><img class="picture2"
                    src="/assets/images/30.jpg"> </div>
              </a> <a href="" class="cart">AGGIUNGI AL CARRELLO</a>
              <ul class="links align-items-center">
                <li><fa-icon [icon]="faExpandArrowsAlt"></fa-icon></li>
                <li class=""><a href=""><fa-icon class="text-danger" [icon]="faHeart"></fa-icon></a></li>
              </ul>
            </div>
            <div class="content"> <span class="category"><a href="">Pantaloni</a></span>
              <h3 class="title display-7 fs-5"><a href="">Estate Beige</a></h3>
              <div class="price"><span>Prezzo</span>24,90</div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center justify-content-center product-item">
          <div class="product-car">
            <div class="product-image"> <a href="" class="image">
                <div class="thumbnail"> <img class="picture1" src="/assets/images/11.jpg"><img class="picture2"
                    src="/assets/images/12.jpg"> </div>
              </a> <a href="" class="cart">AGGIUNGI AL CARRELLO</a>
              <ul class="links align-items-center">
                <li><fa-icon [icon]="faExpandArrowsAlt"></fa-icon></li>
                <li class=""><a href=""><fa-icon class="text-danger" [icon]="faHeart"></fa-icon></a></li>
              </ul>
            </div>
            <div class="content"> <span class="category"><a href="">scarpe donna</a></span>
              <h3 class="title display-7 fs-5"><a href="">Ciabatte Red</a></h3>
              <div class="price"><span>Prezzo</span>24,90</div>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center justify-content-center product-item">
          <div class="product-car">
            <div class="product-image"> <a href="" class="image">
                <div class="thumbnail"> <img class="picture1" src="/assets/images/13.jpg"><img class="picture2"
                    src="/assets/images/14.jpg"> </div>
              </a> <a href="" class="cart">AGGIUNGI AL CARRELLO</a>
              <ul class="links align-items-center">
                <li><fa-icon [icon]="faExpandArrowsAlt"></fa-icon></li>
                <li class=""><a href=""><fa-icon class="text-danger" [icon]="faHeart"></fa-icon></a></li>
              </ul>
            </div>
            <div class="content"> <span class="category"><a href="">accessori</a></span>
              <h3 class="title display-7 fs-5"><a href="">Borsa Black</a></h3>
              <div class="price"><span>Prezzo</span>24,90</div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center justify-content-center product-item">
          <div class="product-car">
            <div class="product-image"> <a href="" class="image">
                <div class="thumbnail"> <img class="picture1" src="/assets/images/21.jpg"><img class="picture2"
                    src="/assets/images/22.jpg"> </div>
              </a> <a href="" class="cart">AGGIUNGI AL CARRELLO</a>
              <ul class="links align-items-center">
                <li><fa-icon [icon]="faExpandArrowsAlt"></fa-icon></li>
                <li class=""><a href=""><fa-icon class="text-danger" [icon]="faHeart"></fa-icon></a></li>
              </ul>
            </div>
            <div class="content"> <span class="category"><a href="">Scarpe</a></span>
              <h3 class="title display-7 fs-5"><a href="">Snake Fantasy</a></h3>
              <div class="price"><span>Prezzo</span>24,90</div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center justify-content-center product-item">
          <div class="product-car">
            <div class="product-image"> <a href="" class="image">
                <div class="thumbnail"> <img class="picture1" src="/assets/images/1.png"><img class="picture2"
                    src="/assets/images/2.png"> </div>
              </a> <a href="" class="cart">AGGIUNGI AL CARRELLO</a>
              <ul class="links align-items-center">
                <li><fa-icon [icon]="faExpandArrowsAlt"></fa-icon></li>
                <li class=""><a href=""><fa-icon class="text-danger" [icon]="faHeart"></fa-icon></a></li>
              </ul>
            </div>
            <div class="content"> <span class="category"><a href="">magliette</a></span>
              <h3 class="title display-7 fs-5"><a href="">T-shirt Niraya</a></h3>
              <div class="price"><span>Prezzo</span>24,90</div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center justify-content-center product-item">
          <div class="product-car">
            <div class="product-image"> <a href="" class="image">
                <div class="thumbnail"> <img class="picture1" src="/assets/images/1.png"><img class="picture2"
                    src="/assets/images/2.png"> </div>
              </a> <a href="" class="cart">AGGIUNGI AL CARRELLO</a>
              <ul class="links align-items-center">
                <li><fa-icon [icon]="faExpandArrowsAlt"></fa-icon></li>
                <li class=""><a href=""><fa-icon class="text-danger" [icon]="faHeart"></fa-icon></a></li>
              </ul>
            </div>
            <div class="content"> <span class="category"><a href="">magliette</a></span>
              <h3 class="title display-7 fs-5"><a href="">T-shirt Niraya</a></h3>
              <div class="price"><span>Prezzo</span>24,90</div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center justify-content-center product-item">
          <div class="product-car">
            <div class="product-image"> <a href="" class="image">
                <div class="thumbnail"> <img class="picture1" src="/assets/images/1.png"><img class="picture2"
                    src="/assets/images/2.png"> </div>
              </a> <a href="" class="cart">AGGIUNGI AL CARRELLO</a>
              <ul class="links align-items-center">
                <li><fa-icon [icon]="faExpandArrowsAlt"></fa-icon></li>
                <li class=""><a href=""><fa-icon class="text-danger" [icon]="faHeart"></fa-icon></a></li>
              </ul>
            </div>
            <div class="content"> <span class="category"><a href="">magliette</a></span>
              <h3 class="title display-7 fs-5"><a href="">T-shirt Niraya</a></h3>
              <div class="price"><span>Prezzo</span>24,90</div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center justify-content-center product-item">
          <div class="product-car">
            <div class="product-image"> <a href="" class="image">
                <div class="thumbnail"> <img class="picture1" src="/assets/images/1.png"><img class="picture2"
                    src="/assets/images/2.png"> </div>
              </a> <a href="" class="cart">AGGIUNGI AL CARRELLO</a>
              <ul class="links align-items-center">
                <li><fa-icon [icon]="faExpandArrowsAlt"></fa-icon></li>
                <li class=""><a href=""><fa-icon class="text-danger" [icon]="faHeart"></fa-icon></a></li>
              </ul>
            </div>
            <div class="content"> <span class="category"><a href="">magliette</a></span>
              <h3 class="title display-7 fs-5"><a href="">T-shirt Niraya</a></h3>
              <div class="price"><span>Prezzo</span>24,90</div>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
  <button class="carousel-control-prev fa-xl fa-rotate-180" type="button" data-bs-target="#carouselExample"
    data-bs-slide="prev"><fa-icon [icon]="faArrowRight"></fa-icon>
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next fa-xl" type="button" data-bs-target="#carouselExample"
    data-bs-slide="next"><fa-icon [icon]="faArrowRight"></fa-icon>
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
