<!-- ICONE E SCRITTE MARKETING -->
<section class="page-section" id="services">
  <div class="container-fluid px-4 py-2 mt-0 mb-5">
    <div class="row gx-4 gx-lg-5">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <div class="mb-2"><fa-icon [icon]="faGem" class="fa-2xl"></fa-icon></div>
          <h3 class="h4 mb-2">Prodotti di qualità</h3>
          <p class="text-muted mb-0">Lasciati catturare dalla qualità Niraya. Tessuti resistenti e morbidi. Made in
            italy vero.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <div class="mb-2"><fa-icon [icon]="faLaptop" class="fa-2xl"></fa-icon></div>
          <h3 class="h4 mb-2">Facilità di acquisto</h3>
          <p class="text-muted mb-0">Siamo a tua completa disposizione. Risoluzione problemi e gestione acquisti.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <div class="mb-2"><fa-icon [icon]="faGlobe" class="fa-2xl"></fa-icon></div>
          <h3 class="h4 mb-2">Ordina da dove vuoi</h3>
          <p class="text-muted mb-0">Spedizione in tutto il mondo, assicurata e puntuale!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <div class="mb-2"><fa-icon [icon]="faHeart" class="fa-2xl"></fa-icon></div>
          <h3 class="h4 mb-2">Made with Love</h3>
          <p class="text-muted mb-0">Ogni prodotto è disegnato e ideato con amore, ritrova il tuo stile.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<hr class="divider">
