<!--STORYLINE-->
<hr class="mb-5">
<section>
  <div class="container">
    <div class="section-heading wow fadeIn">
      <div class="heading-separator"></div>
    </div>
    <div class="row">
      <div class="history-wrapper">
        <div class="title-wrap text-center one-of-two">
          <h2 class="h1 text-secondary mb-0 text-uppercase">Come nasce il brand?</h2>
          <p class="fs-3 font-weight-500">2020-2023</p>
        </div>
        <div class="timeline-box one-of-two">
          <img class="mb-1-6 rounded" src="assets/images/Img_home/storyline1.png" alt="...">
          <div class="content">
            <h3 class="h4 mb-2 mb-md-3 fw-bolder text-capitalize">Un'idea nata in una cameretta</h3>
            <p class="mb-0">Un ragazzo di 22 anni, appassionato di moda e sostenibilità, inizia a lavorare su un
              progetto di un e-commerce nella sua cameretta. Inizia a creare un brand che rispecchia i suoi valori e
              le sue idee innovative.</p>
          </div>
          <div class="year">2020</div>
        </div>
        <div class="timeline-box one-of-two">
          <img class="mb-1-6 rounded" src="assets/images/Img_home/storyline2.png" alt="...">
          <div class="content">
            <h3 class="h4 mb-2 mb-md-3 fw-bolder text-capitalize">La nascita di una community</h3>
            <p class="mb-0">Il progetto inizia a guadagnare popolarità e il suo brand diventa sinonimo di
              moda sostenibile. Lavora per costruire una comunità di appassionati che condividono la sua visione di
              un'industria della moda senza barriere.</p>
          </div>
          <div class="year">2021</div>
        </div>
        <div class="timeline-box one-of-two">
          <img class="mb-1-6 rounded" src="assets/images/Img_home/storyline3.png" alt="...">
          <div class="content">
            <h3 class="h4 mb-2 mb-md-3 fw-bolder text-capitalize">La collezione rivoluzionaria</h3>
            <p class="mb-0">Il brand Niraya lancia una collezione rivoluzionaria che combina stile ed
              eco-sostenibilità. Questa collezione si fa notare a livello nazionale e attira l'attenzione dei media
              e
              degli influencer.</p>
          </div>
          <div class="year">2022</div>
        </div>
        <div class="timeline-box one-of-two">
          <img class="mb-1-6 rounded" src="assets/images/Img_home/storyline4.png" alt="...">
          <div class="content">
            <h3 class="h4 mb-2 mb-md-3 fw-bolder text-capitalize">Espansione del progetto</h3>
            <p class="mb-0">Il successo del brand Niraya si traduce in una rapida espansione globale. Vengono aperti
              negozi flagship in importanti città di tutto il mondo, permettendo al brand di raggiungere una vasta
              base di clienti.</p>
          </div>
          <div class="year">2023</div>
        </div>
      </div>
    </div>
  </div>
</section>
