
  <!--BLOG-->
  <section class="section my-5" id="blog">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7 text-center">
          <div class="section-title py-5">
            <h2 class="display-7 text-capitalize">Dal nostro blog</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="blog-grid">
              <div class="blog-img">
                <div class="date">04 FEB</div>
                <a href="#">
                  <img src="assets/images/Img_home/blog1.png" title="" alt="">
                </a>
              </div>
              <div class="blog-info">
                <h5><a href="#">Nuova collezione Estiva</a></h5>
                <p>Scopri le ultime tendenze della moda primavera/estate e prepara il tuo guardaroba per la stagione.
                </p>
                <div class="btn-bar">
                  <a href="#" class="px-btn-arrow text-primary">
                    <span>Leggi di più</span>
                    <i class="arrow"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="blog-grid">
              <div class="blog-img">
                <div class="date">04 FEB</div>
                <a href="#">
                  <img src="assets/images/Img_home/blog2.png" title="" alt="">
                </a>
              </div>
              <div class="blog-info">
                <h5><a href="#">I must-have per l'inverno</a></h5>
                <p>Scopri gli indumenti e gli accessori essenziali per affrontare l'inverno con stile e comfort, offerte
                  esclusive e novità.</p>
                <div class="btn-bar">
                  <a href="#" class="px-btn-arrow text-primary">
                    <span>Leggi di più</span>
                    <i class="arrow"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="blog-grid">
              <div class="blog-img">
                <div class="date">04 FEB</div>
                <a href="#">
                  <img src="assets/images/Img_home/blog3.png" title="" alt="">
                </a>
              </div>
              <div class="blog-info">
                <h5><a href="#">Tendenze moda autunno 2023</a></h5>
                <p>Scopri le tendenze più hot dell'autunno 2023 e aggiorna il tuo stile di moda per la nuova stagione.
                </p>
                <div class="btn-bar">
                  <a href="#" class="px-btn-arrow text-primary">
                    <span>Leggi di più</span>
                    <i class="arrow"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
