
<div class="modal fade" id="loginModal" aria-hidden="true" aria-labelledby="loginModalLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Login</h5>
        <button id="close-modal-access" type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Input fields for login -->
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Inserisci email" [(ngModel)]="email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Inserisci password" [(ngModel)]="password">
        </div>
      </div>
      <div class="modal-footer">
        <!-- Button to open the Registration Modal -->
        <button class="btn btn-dark" data-bs-target="#registrationModal" data-bs-toggle="modal"
          data-bs-dismiss="modal">Registrati</button>
        <!-- Button to perform the login action (you can add a JavaScript function to handle the login process) -->
        <button (click)="login()" class="btn btn-dark">Accedi</button>
      </div>
    </div>
  </div>
</div>
