<div *ngIf="product">
  <div class=" product-card card mb-4 product-wap rounded-0">
    <div (click)="goToProductDetail(product)" class="d-flex card rounded-0 thumbnail product">
      <div class="picture1">
        <img [src]="product.image[0]" class="responsive product-image card-img rounded-0 img-fluid"
          alt="t-shirt nera" />
      </div>
      <div class="picture2">
        <img [src]="product.image[1]" class="responsive card-img rounded-0 img-fluid" alt="t-shirt nera" />
      </div>
    </div>
    <div class="card-body">
      <div (click)="goToProductDetail(product)" class="d-flex justify-content-between">
        <div>
          <h4 class="">{{ product.title }}</h4>
          <p class="small text-muted">{{product.category}}</p>
        </div>
        <div>
          <div class="d-flex flex-row justify-content-end mt-1 mb-4">
            <i class="bi bi-star-fill text-warning"></i>
            <i class="bi bi-star-fill text-warning"></i>
            <i class="bi bi-star-fill text-warning"></i>
            <i class="bi bi-star-fill text-warning"></i>
            <i class="bi bi-star-fill"></i>
          </div>
          <p class="small text-muted">Rated 4.0/5</p>
        </div>
      </div>
      <div class=" d-flex justify-content-around align-items-end">
        <i class="bi bi-bookmark-heart"></i>
        <p style="font-size: 18px;">Prezzo: {{ product.price | currency:'EUR'  }}</p>
        <i (click)="addToCart(product)" class=" bi bi-cart-plus"></i>
      </div>
    </div>
  </div>
</div>
