<!-- Registration Modal -->
<div class="modal fade" id="registrationModal" aria-hidden="true" aria-labelledby="registrationModalLabel"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="position-relative ps-4 ms-4 fs-2 ms-auto me-auto ">
          Registrati
        </h2>
        <button id="close-modal" type="button" class="ms-0 btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Input fields for registration -->
        <div class="mb-3">
          <label for="fullname" class="form-label">Nome e Cognome</label>
          <input type="text" class="form-control" id="fullname" [(ngModel)]="fullName" placeholder="Nome e cognome">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="email" placeholder="Inserisci email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" [(ngModel)]="password"
            placeholder="Scegli una password">
        </div>
      </div>
      <div class="d-flex justify-content-center form-check">
        <input type="checkbox" class="text-dark form-check-input" id="customCheck1">
        <label class="form-check-label" for="customCheck1">accetto i <a
            href="http://www.servizipa.net/index.php?option=com_content&view=article&id=29&Itemid=101">Termini e
            condizioni</a></label>
      </div>
      <div class="modal-footer">
        <!-- Button to switch to Login Modal -->
        <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#loginModal" data-bs-dismiss="modal">Accedi</button>
        <!-- Button to perform the registration action -->
        <button class="btn btn-dark" (click)="registerUser()">Registrati</button>
      </div>
    </div>
  </div>
</div>
