<div class="row mt-5 pt-3 justify-content-center container-fluid pe-0">
  <div id="pic1" class="d-flex justify-content-center col-lg-6 col-12">
    <img class="rounded responsive" width="700px" src="assets/images/Img_home/brandambassadors.png" alt="">
  </div>
  <div id="pic1" class="d-flex justify-content-center col-lg-6 col-12">
    <img class="rounded responsive" width="700px" src="assets/images/Img_home/OFFERTE LAST MINUTE.png" alt="">
  </div>
</div>
<div class="d-flex justify-content-center container-fluid mt-4">
  <div id="pic2" class="d-flex justify-content-center  col-12 col-lg-12">
    <img class="rounded" width="1380px" src="assets/images/Img_home/estate.png" alt="">
  </div>
</div>
