<div class="container mt-5" *ngIf="selectedProduct">
  <!-- content -->
  <section class="py-0">
    <div class="container">
      <div class="row gx-5">
        <aside class="col-lg-6">
          <div class="border rounded-4 mb-3 d-flex justify-content-center">
            <a data-fslightbox="mygallery" class="rounded-4" target="_blank" data-type="image" href=""
              (click)="toggleImageSize()">
              <img [src]="selectedProduct.image[selectedImageIndex]" [style.max-width]="isImageExpanded ? '100%' : 'auto'"
                [style.max-height]="isImageExpanded ? '100vh' : 'auto'" [style.margin]="isImageExpanded ? 'auto' : '0'"
                class="rounded-4 fit" />
            </a>
          </div>
          <div class="d-flex justify-content-center mb-3">
            <!-- Aggiungiamo *ngIf per mostrare solo le immagini con indice dal 2 al 5 -->
            <ng-container *ngFor="let image of selectedProduct.image; let i = index">
              <a *ngIf="i >= 2 && i <= 5" data-fslightbox="mygallery" class="border mx-1 rounded-2"
                target="_blank" data-type="image" (click)="setSelectedImage(i)">
                <img [src]="image" width="60" height="60" class="rounded-2" />
              </a>
            </ng-container>
          </div>
          <!-- thumbs-wrap.// -->
          <!-- gallery-wrap .end// -->
        </aside>
        <main class="col-lg-6">
          <div class="ps-lg-3">
            <h4 class="title text-dark">
              {{ selectedProduct.title}} <br />
              Casual Summer
            </h4>
            <div class="d-flex flex-row my-3">
              <div class="text-warning mb-1 me-2">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span class="ms-1">
                  4.5
                </span>
              </div>
              <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>154 ordini</span>
              <span class="text-success ms-2">In stock</span>
            </div>

            <div class="mb-3">
              <span class="h5">{{selectedProduct.price | currency:'EUR' }}</span>
              <span class="text-muted">/1</span>
            </div>

            <p>
              {{ selectedProduct.description }}
            </p>

            <div class="row">
              <dt class="col-3">Tipo:</dt>
              <dd class="col-9">Regular</dd>

              <dt class="col-3">Colore</dt>
              <dd class="col-9">Bianco</dd>

              <dt class="col-3">Materiali</dt>
              <dd class="col-9">Cottone 100%</dd>

              <dt class="col-3">Brand</dt>
              <dd class="col-9">Niraya</dd>
            </div>

            <hr />

            <div class="row mb-4">
              <div class="col-md-4 col-6">
                <label class="mb-2">Taglia</label>
                <select class="form-select border border-secondary" style="height: 35px;">
                  <option>Small</option>
                  <option>Medium</option>
                  <option>Large</option>
                </select>
              </div>
              <!-- col.// -->
              <div class="col-md-4 col-6 mb-3">
                <label class="mb-2 d-block">Quantità</label>
                <div class="input-group mb-3" style="width: 170px;">
                  <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon1"
                    data-mdb-ripple-color="dark">
                    <i class="bi bi-dash"></i>
                  </button>
                  <input type="text" class="form-control text-center border border-secondary" placeholder="1"
                    aria-label="Example text with button addon" aria-describedby="button-addon1" />
                  <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon2"
                    data-mdb-ripple-color="dark">
                    <i class="bi bi-plus"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-around">
              <a href="#" class="btn btn-dark border border-secondary"> condividi </a>
              <a href="#" class="btn btn-outline-dark shadow-0"> <i class="bi bi-basket"></i> aggiungi ai preferiti</a>
                  <a (click)="addToCart(selectedProduct)" class="btn btn-outline-dark shadow-0"> <i class="bi bi-basket"></i> aggiungi al
                    carrello</a>
            </div>

          </div>
        </main>

      </div>
    </div>
  </section>
</div>
<!-- content -->
